@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");
@font-face {
  font-family: '국립박물관문화재단클래식B';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '국립박물관문화재단클래식M';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식M.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '국립박물관문화재단클래식L';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식L.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font: 16px/1.4 'NanumBarunGothic', Malgun Gothic, "맑은 고딕", "dotum", "돋움", "AppleGothic", sans-serif;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
select {
  border-radius: none;
}

fieldset {
  border: none;
}

legend,
caption {
  position: absolute;
  left: -9999px;
}

table {
  border-collapse: collapse;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: none;
}

img,
video {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
em,
i {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.skip-menu a {
  background-color: #ff7761;
  color: #fff;
  position: fixed;
  left: 0;
  top: -9999px;
  width: 100%;
  text-align: center;
  z-index: 9999;
  padding: 8px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 255, 255, 0.7);
          box-shadow: 0 2px 5px rgba(255, 255, 255, 0.7);
}

.skip-menu a:focus {
  top: 0;
}

body {
  font: 16px/1.4 'NanumBarunGothic', Malgun Gothic, "맑은 고딕", "dotum", "돋움", "AppleGothic", sans-serif;
  font-weight: normal;
}

#header {
  width: 100%;
  height: 200px;
  background-color: #1C356F;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

#header.active {
  position: fixed;
  top: -100px;
}

#header > .tnb-wrap {
  position: relative;
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  z-index: 1;
}

#header > .tnb-wrap > .tnb {
  position: relative;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding-top: 40px;
}

#header > .tnb-wrap > .tnb .logo {
  padding-left: 40px;
  width: auto;
  font-size: 36px;
  font-family: '국립박물관문화재단클래식B', sans-serif;
}

#header > .tnb-wrap > .tnb .logo h1 em {
  color: #ff7761;
}

#header > .tnb-wrap > .tnb .info {
  position: absolute;
  top: 55px;
  right: 120px;
  width: 455px;
  height: 40px;
}

#header > .tnb-wrap > .tnb .info > ul {
  clear: both;
  width: 100%;
  height: 100%;
}

#header > .tnb-wrap > .tnb .info > ul > li {
  position: relative;
  display: block;
  float: left;
  font-size: 18px;
  padding-right: 25px;
  width: auto;
  height: 100%;
}

#header > .tnb-wrap > .tnb .info > ul > li > a {
  font-family: '국립박물관문화재단클래식L', sans-serif;
}

#header > .tnb-wrap > .tnb .info > ul > li > a:hover {
  color: #ff7761;
}

#header > .tnb-wrap > .tnb .info > ul > li:last-child {
  padding-right: 0;
}

#header > .tnb-wrap > .tnb .all-menu-btn {
  position: absolute;
  top: 40px;
  right: 40px;
}

#header > .tnb-wrap > .tnb .all-menu-btn > a {
  display: block;
  width: 50px;
  height: 50px;
}

#header > .tnb-wrap > .tnb .all-menu-btn > a > img {
  width: 100%;
  height: 100%;
}

#header .info-sub-wrap {
  position: relative;
}

#header .info-sub-wrap > div {
  position: absolute;
  background-color: #f4f4f4;
  color: #1C356F;
  text-align: center;
}

#header .info-sub-wrap > div > ul {
  border: 1px solid #ccc;
}

#header .info-sub-wrap > div > ul li {
  display: block;
  height: 45px;
  width: 100%;
  line-height: 45px;
  border-bottom: 1px solid #ccc;
}

#header .info-sub-wrap > div > ul li:hover {
  background-color: #ff7761;
  color: #fff;
  font-weight: bold;
}

#header .info-sub-wrap > div > ul li:last-child {
  border: none;
}

#header .info-sub-wrap > .info-sub-sns {
  display: none;
  width: 110px;
  top: -15px;
  left: calc(50% + 98px);
  z-index: 2;
  font-size: 14px;
}

#header .info-sub-wrap > .info-sub-lang {
  display: none;
  width: 110px;
  top: -15px;
  left: calc(50% + 351px);
  z-index: 2;
  font-size: 14px;
}

#header > .all-menu-info {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1C356F;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 97;
}

#header > .all-menu-info:hover,
#header > .all-menu-info :focus {
  top: 0;
}

#header > .all-menu-info:hover .all-menu-info-wrap::before, #header > .all-menu-info:hover .all-menu-info-wrap::after,
#header > .all-menu-info :focus .all-menu-info-wrap::before,
#header > .all-menu-info :focus .all-menu-info-wrap::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 98;
}

#header > .all-menu-info > .all-menu-info-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

#header > .all-menu-info > .all-menu-info-wrap::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  top: 50px;
  left: 50px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

#header > .all-menu-info > .all-menu-info-wrap::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  bottom: 50px;
  right: 50px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

#header > .all-menu-info > .all-menu-info-wrap > .all-menu-lnfo-logo {
  position: absolute;
  font-size: 36px;
  font-family: '국립박물관문화재단클래식B', sans-serif;
  top: 95px;
  left: 95px;
}

#header > .all-menu-info > .all-menu-info-wrap > .all-menu-lnfo-logo h1 em {
  color: #ff7761;
}

#header > .all-menu-info > .all-menu-info-wrap > .all-menu-btn-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 90px;
  right: 100px;
}

#header > .all-menu-info > .all-menu-info-wrap > .all-menu-btn-close > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 99;
}

#header > .all-menu-info > .all-menu-info-wrap > .all-menu-btn-close > a > img {
  width: 100%;
  height: 100%;
}

#header > .all-menu-info > .all-menu-info-wrap > ul {
  width: 1200px;
  height: 100%;
  position: relative;
  padding: 60px;
  text-align: center;
  overflow: hidden;
  clear: both;
  margin: 0 auto;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li {
  float: left;
  margin-top: 20vh;
  margin-right: 69px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li:last-child {
  margin-right: 0px;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li:hover {
  color: #fff;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li > a {
  position: relative;
  z-index: 99;
  font-size: 28px;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li > ul {
  padding-top: 20px;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li > ul > li {
  padding-bottom: 10px;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li > ul > li a {
  position: relative;
  z-index: 99;
  font-size: 20px;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li > ul > li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #fff;
  bottom: 0px;
  left: 0;
  transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li > ul > li a:hover {
  color: #ff7761;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li > ul > li a:hover::after {
  width: 100%;
}

#header > .gnb-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background: linear-gradient(#1C356F 100px, #fff 0px);
  background: -webkit-linear-gradient(#1C356F 100px, #fff 0px);
  background: -moz-gradient(#1C356F 100px, #fff 0px);
  background: -o-gradient(#1C356F 100px, #fff 0px);
  -webkit-box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#header > .gnb-wrap > .gnb {
  width: 1200px;
  margin: 0 auto;
  padding-top: 35px;
}

#header > .gnb-wrap > .gnb > ul {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

#header > .gnb-wrap > .gnb > ul > li {
  float: left;
  width: 20%;
  font-size: 22px;
  text-align: center;
  overflow: hidden;
}

#header > .gnb-wrap > .gnb > ul > li > a {
  width: 100%;
  height: 100%;
  position: relative;
}

#header > .gnb-wrap > .gnb > ul > li > a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

#header > .gnb-wrap > .gnb > ul > li > a:hover {
  color: #ff7761;
}

#header > .gnb-wrap > .gnb > ul > li > a:hover::after {
  width: 100%;
}

#header > .gnb-wrap > .gnb > ul > li > ul {
  padding-top: 40px;
  width: 100%;
  height: 100%;
  color: #1C356F;
  text-align: center;
  font-size: 18px;
}

#header > .gnb-wrap > .gnb > ul > li > ul > li {
  width: 100%;
  padding: 5px 0;
}

#header > .gnb-wrap > .gnb > ul > li > ul > li > a {
  position: relative;
}

#header > .gnb-wrap > .gnb > ul > li > ul > li > a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ff7761;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

#header > .gnb-wrap > .gnb > ul > li > ul > li:hover > a {
  font-weight: bold;
}

#header > .gnb-wrap > .gnb > ul > li > ul > li:hover > a::after {
  width: 100%;
}

#container > .row1-wrap {
  width: 100%;
  height: 750px;
  overflow: hidden;
  position: relative;
  bottom: 0;
  left: 0;
}

#container > .row1-wrap .row1 .bx-wrapper {
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background-color: none;
  margin-bottom: 0;
  height: auto;
}

#container > .row1-wrap .row1 .bx-wrapper .bx-has-pager {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#container > .row1-wrap .row1 .bx-wrapper .bx-has-pager .bx-pager {
  position: absolute;
  padding: 0;
  width: 160px;
  height: 178px;
  left: 0px;
  bottom: 0;
  z-index: 1;
  margin: 14.89583333333333vw 0;
}

#container > .row1-wrap .row1 .bx-wrapper .bx-has-pager .bx-pager .bx-pager-item {
  position: relative;
  display: block;
  width: 160px;
  height: 3px;
}

#container > .row1-wrap .row1 .bx-wrapper .bx-has-pager .bx-pager .bx-pager-item:nth-of-type(1) > a::after {
  width: 241px;
  right: -251px;
  background: url(../img/main/txt-1.png);
}

#container > .row1-wrap .row1 .bx-wrapper .bx-has-pager .bx-pager .bx-pager-item:nth-of-type(2) > a::after {
  width: 167px;
  right: -177px;
  background: url(../img/main/txt-2.png);
}

#container > .row1-wrap .row1 .bx-wrapper .bx-has-pager .bx-pager .bx-pager-item:nth-of-type(3) > a::after {
  width: 187px;
  right: -197px;
  background: url(../img/main/txt-3.png);
}

#container > .row1-wrap .row1 .bx-wrapper .bx-has-pager .bx-pager .bx-pager-item > a {
  position: relative;
  display: block;
  width: 60px;
  height: 3px;
  border-radius: 0;
  background-color: #f6f6f6;
  margin: 40px 0 40px 0;
  overflow: visible;
}

#container > .row1-wrap .row1 .bx-wrapper .bx-has-pager .bx-pager .bx-pager-item > a::before {
  position: absolute;
  content: '';
  width: 0px;
  height: 3px;
  background-color: #f9a11b;
  top: 0;
  left: 0;
  -webkit-transition: all 3s ease-in;
  transition: all 3s ease-in;
}

#container > .row1-wrap .row1 .bx-wrapper .bx-has-pager .bx-pager .bx-pager-item > a::after {
  position: absolute;
  content: '';
  width: 100px;
  height: 15px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#container > .row1-wrap .row1 .bx-wrapper .bx-has-pager .bx-pager .bx-pager-item > a.active::before {
  width: 60px;
}

#container > .row1-wrap .row1 .bg-slide > div {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

#container > .row1-wrap .row1 .bg-slide > div .bg-slide-txt1 {
  position: absolute;
  top: 275px;
  left: 10px;
  margin-left: calc((100% - 1200px) / 2);
  color: #f4f4f4;
  font-family: 'Nanum Myeongjo', sans-serif;
  font-size: 32px;
}

#container > .row1-wrap .row1 .bg-slide > div .bg-slide-txt2 {
  position: absolute;
  bottom: 120px;
  right: 10px;
  margin-right: calc((100% - 1200px) / 2);
  color: #f4f4f4;
  font-family: 'Nanum Myeongjo', sans-serif;
  font-size: 32px;
}

#container > .row2-wrap {
  width: 100%;
  height: 950px;
  overflow: hidden;
  background-color: #fff;
}

#container > .row2-wrap .row2 {
  width: 1200px;
  margin: 0 auto;
}

#container > .row2-wrap .row2 > h2 {
  margin-top: 200px;
  margin-bottom: 30px;
  text-align: center;
  font-family: '국립박물관문화재단클래식M', sans-serif;
  font-size: 50px;
}

#container > .row2-wrap .row2 > h2 > em {
  color: #ff7761;
}

#container > .row2-wrap .row2 > ul {
  padding: 0 30px;
}

#container > .row2-wrap .row2 > ul > li {
  display: block;
  width: 1000px;
  height: 180px;
  color: #fff;
  background-color: #1C356F;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

#container > .row2-wrap .row2 > ul > li:hover {
  background-color: #ff7761;
}

#container > .row2-wrap .row2 > ul > li > span:first-child {
  float: left;
  display: block;
  width: 180px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  margin: 30px 0;
  border-right: 2px solid #ccc;
  font-size: 80px;
  font-family: 'Nanum Myeongjo', sans-serif;
  color: #ccc;
}

#container > .row2-wrap .row2 > ul > li > ul {
  float: left;
  display: block;
  width: 610px;
  padding: 30px;
}

#container > .row2-wrap .row2 > ul > li > ul > span {
  font-size: 24px;
}

#container > .row2-wrap .row2 > ul > li > ul li {
  position: relative;
  font-size: 18px;
  text-indent: 23px;
}

#container > .row2-wrap .row2 > ul > li > ul li::before {
  content: '';
  position: absolute;
  top: 9px;
  left: 6px;
  width: 6px;
  height: 6px;
  background: url(../img/main/ico_m_ul2.png) no-repeat 0 0;
}

#container > .row2-wrap .row2 > ul > li > span:last-child {
  float: left;
  width: 210px;
  height: 180px;
  padding: 65px 0;
}

#container > .row2-wrap .row2 > ul > li > span:last-child > a {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  border: 2px solid #fff;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

#container > .row3-wrap {
  width: 100%;
  height: 950px;
  background-color: #fff;
}

#container > .row3-wrap .row3 {
  width: 1200px;
  margin: 0 auto;
  clear: both;
}

#container > .row3-wrap .row3 > h2 {
  margin-top: 200px;
  margin-bottom: 30px;
  text-align: center;
  font-family: '국립박물관문화재단클래식M', sans-serif;
  font-size: 50px;
}

#container > .row3-wrap .row3 > h2 > em {
  color: #ff7761;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap {
  float: left;
  width: 500px;
  height: 570px;
  margin-left: 70px;
  margin-right: 20px;
  font-family: 'NanumBarunGothic', Malgun Gothic, "맑은 고딕", "dotum", "돋움", "AppleGothic", sans-serif;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar {
  width: 100%;
  height: 100%;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all {
  width: 100%;
  height: 100%;
  border-radius: none;
  padding: 0;
  border: none;
  background-color: #f4f4f4;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all > .ui-datepicker-header {
  padding: 0;
  border: none;
  background-color: #f4f4f4;
  height: 90px;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all > .ui-datepicker-header > .ui-datepicker-prev {
  position: absolute;
  width: 40px;
  height: 25px;
  top: 35px;
  left: 150px;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all > .ui-datepicker-header > .ui-datepicker-prev > .ui-icon {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: url(../img/main/prev_month.png) no-repeat 0 0;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all > .ui-datepicker-header > .ui-datepicker-next {
  position: absolute;
  width: 40px;
  height: 25px;
  top: 35px;
  right: 150px;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all > .ui-datepicker-header > .ui-datepicker-next > .ui-icon {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: url(../img/main/next_month.png) no-repeat 0 0;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all > .ui-datepicker-header > .ui-datepicker-title {
  margin-top: 30px;
  font-family: 'NanumBarunGothic', Malgun Gothic, "맑은 고딕", "dotum", "돋움", "AppleGothic", sans-serif;
  font-size: 22px;
  font-weight: normal;
  height: 36px;
  line-height: 36px;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all > .ui-datepicker-header > .ui-datepicker-title > .ui-datepicker-month {
  color: #ff7761;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all > .ui-datepicker-calendar {
  width: 500px;
  height: 480px;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all > .ui-datepicker-calendar > tbody > tr > td {
  padding: 0;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all > .ui-datepicker-calendar > tbody > tr > td > a {
  background-color: #f4f4f4;
  border: none;
  text-align: center;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all > .ui-datepicker-calendar > tbody > tr > td > a.ui-state-active, #container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all > .ui-datepicker-calendar > tbody > tr > td > a.ui-state-hover {
  color: #ff7761;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all > .ui-datepicker-calendar > tbody > tr > td:nth-of-type(2) > a {
  color: #f00;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all > .ui-datepicker-calendar > tbody > tr > .ui-datepicker-today > a {
  color: #ff7761 !important;
  font-weight: bold !important;
  position: relative !important;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all > .ui-datepicker-calendar > tbody > tr > .ui-datepicker-today > a::before {
  content: '' !important;
  position: absolute !important;
  top: -5px !important;
  left: 17px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
}

#container > .row3-wrap .row3 > .row3-calendar-wrap > .row3-calendar > .ui-corner-all > .ui-datepicker-calendar > tbody > tr > .ui-datepicker-other-month span {
  border: none;
  background-color: #f4f4f4;
  text-align: center;
}

#container > .row3-wrap .row3 > .row3-textbox {
  float: left;
  width: 500px;
  height: 570px;
  background-color: #f4f4f4;
}

#container > .row3-wrap .row3 > .row3-textbox > .row3-today {
  font-size: 24px;
  position: relative;
  padding-top: 52px;
  text-indent: 22px;
}

#container > .row3-wrap .row3 > .row3-textbox > .row3-today::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #aaa;
}

#container > .row3-wrap .row3 > .row3-textbox > .row3-txt1 {
  position: relative;
  width: 100%;
  height: 270px;
}

#container > .row3-wrap .row3 > .row3-textbox > .row3-txt1 > h4 {
  font-family: '국립박물관문화재단클래식M', sans-serif;
  color: #ff7761;
  font-size: 28px;
  padding-top: 45px;
  text-indent: 32px;
}

#container > .row3-wrap .row3 > .row3-textbox > .row3-txt1 > ul {
  font-size: 18px;
  color: #1C356F;
  padding-top: 25px;
  text-indent: 50px;
  line-height: 2;
}

#container > .row3-wrap .row3 > .row3-textbox > .row3-txt1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(to right, #aaa 240px, #ff7761 240px, #ff7761 260px, #aaa 260px);
}

#container > .row3-wrap .row3 > .row3-textbox > .row3-txt2 {
  width: 100%;
  height: 215px;
}

#container > .row3-wrap .row3 > .row3-textbox > .row3-txt2 > h4 {
  font-family: '국립박물관문화재단클래식M', sans-serif;
  color: #ff7761;
  font-size: 28px;
  padding-top: 45px;
  text-indent: 32px;
}

#container > .row3-wrap .row3 > .row3-textbox > .row3-txt2 > ul {
  font-size: 18px;
  color: #1C356F;
  padding-top: 25px;
  text-indent: 50px;
  line-height: 2;
}

#container > .row4-wrap {
  width: 100%;
  height: 950px;
  background-color: #fff;
}

#container > .row4-wrap .row4 {
  width: 1200px;
  margin: 0 auto;
}

#container > .row4-wrap .row4 > h2 {
  margin-top: 200px;
  margin-bottom: 30px;
  text-align: center;
  font-family: '국립박물관문화재단클래식M', sans-serif;
  font-size: 50px;
}

#container > .row4-wrap .row4 > h2 > em {
  color: #ff7761;
}

#container > .row4-wrap .row4 > .row4-subslide-wrap {
  margin: 0 auto;
  width: 960px;
  height: 600px !important;
}

#container > .row4-wrap .row4 > .row4-subslide-wrap > .bx-wrapper {
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 600px !important;
}

#container > .row4-wrap .row4 > .row4-subslide-wrap > .bx-wrapper > .bx-viewport {
  height: 600px !important;
}

#container > .row4-wrap .row4 > .row4-subslide-wrap > .bx-wrapper > .bx-viewport > .row4-subslide > .box-wrap {
  height: 600px !important;
}

#container > .row4-wrap .row4 > .row4-subslide-wrap > .bx-wrapper > .bx-viewport > .row4-subslide > .box-wrap > .box {
  background-color: #f4f4f4;
  color: #1C356F;
  height: 600px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#container > .row4-wrap .row4 > .row4-subslide-wrap > .bx-wrapper > .bx-viewport > .row4-subslide > .box-wrap > .box > h3 {
  width: 100%;
  height: 370px;
  font-size: 26px;
  font-family: 'Nanum Myeongjo', sans-serif;
  text-align: center;
  padding-top: 150px;
  word-break: keep-all;
}

#container > .row4-wrap .row4 > .row4-subslide-wrap > .bx-wrapper > .bx-viewport > .row4-subslide > .box-wrap > .box > p {
  width: 100%;
  height: 150px;
  word-break: keep-all;
  padding: 0 10px;
  line-height: 2.875;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#container > .row4-wrap .row4 > .row4-subslide-wrap > .bx-wrapper > .bx-viewport > .row4-subslide > .box-wrap > .box > a {
  display: none;
  position: relative;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  margin: 30px 100px 0;
  text-indent: 30px;
}

#container > .row4-wrap .row4 > .row4-subslide-wrap > .bx-wrapper > .bx-viewport > .row4-subslide > .box-wrap > .box > a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url(../img/main/btn_row4-2.png) no-repeat 50% 50%;
}

#container > .row4-wrap .row4 > .row4-subslide-wrap > .bx-wrapper > .bx-viewport > .row4-subslide > .box-wrap > .box:hover {
  background-color: #ff7761;
  color: #fff;
}

#container > .row4-wrap .row4 > .row4-subslide-wrap > .bx-wrapper > .bx-viewport > .row4-subslide > .box-wrap > .box:hover > a {
  display: block;
}

#container > .row4-wrap .row4 > .row4-subslide-wrap > .bx-wrapper > .bx-controls > .bx-controls-direction > .bx-prev {
  position: absolute;
  top: 50%;
  left: -89px;
  width: 79px;
  height: 29px;
  background: url(../img/main/prev_exhibit.png) no-repeat 0 0;
  z-index: 1;
}

#container > .row4-wrap .row4 > .row4-subslide-wrap > .bx-wrapper > .bx-controls > .bx-controls-direction > .bx-next {
  position: absolute;
  top: 50%;
  right: -89px;
  width: 79px;
  height: 29px;
  background: url(../img/main/next_exhibit.png) no-repeat 0 0;
  z-index: 1;
}

#container > .row5-wrap {
  width: 100%;
  height: 950px;
  background-color: #fff;
}

#container > .row5-wrap .row5 {
  width: 1200px;
  margin: 0 auto;
  clear: both;
}

#container > .row5-wrap .row5 > h2 {
  margin-top: 200px;
  margin-bottom: 30px;
  text-align: center;
  font-family: '국립박물관문화재단클래식M', sans-serif;
  font-size: 50px;
}

#container > .row5-wrap .row5 > h2 > em {
  color: #ff7761;
}

#container > .row5-wrap .row5 .row5-box-wrap {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
}

#container > .row5-wrap .row5 .row5-box-wrap > div {
  float: left;
  width: 300px;
  height: 500px;
  color: #fff;
  margin-right: 50px;
  word-break: keep-all;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
  overflow: hidden;
  position: relative;
}

#container > .row5-wrap .row5 .row5-box-wrap > div::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  top: 30px;
  left: 30px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

#container > .row5-wrap .row5 .row5-box-wrap > div::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  bottom: 30px;
  right: 30px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

#container > .row5-wrap .row5 .row5-box-wrap > div > p {
  font-size: 26px;
  margin-top: 110px;
  height: 120px;
  text-align: center;
  font-family: 'Nanum Myeongjo', sans-serif;
}

#container > .row5-wrap .row5 .row5-box-wrap > div > a {
  position: relative;
  display: block;
  font-size: 16px;
  margin-top: 200px;
  z-index: 1;
}

#container > .row5-wrap .row5 .row5-box-wrap > div:hover, #container > .row5-wrap .row5 .row5-box-wrap > div:focus {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

#container > .row5-wrap .row5 .row5-box-wrap > div:hover::before, #container > .row5-wrap .row5 .row5-box-wrap > div:focus::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

#container > .row5-wrap .row5 .row5-box-wrap > div:hover::after, #container > .row5-wrap .row5 .row5-box-wrap > div:focus::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}

#container > .row5-wrap .row5 .row5-box-wrap > div:nth-child(1) > p {
  padding: 25px 10px;
}

#container > .row5-wrap .row5 .row5-box-wrap > div:nth-child(2) > p {
  padding: 42px 10px;
}

#container > .row5-wrap .row5 .row5-box-wrap > div:nth-child(3) > p {
  padding: 6px 10px;
}

#container > .row5-wrap .row5 .row5-box-wrap > .row5-box1 {
  background: url(../img/main/row5-subslide-1.png) no-repeat 0 0;
}

#container > .row5-wrap .row5 .row5-box-wrap > .row5-box2 {
  background: url(../img/main/row5-subslide-2.png) no-repeat 0 0;
}

#container > .row5-wrap .row5 .row5-box-wrap > .row5-box3 {
  background: url(../img/main/row5-subslide-3.png) no-repeat 0 0;
  margin-right: 0;
}

#container > .row6-wrap .footer-wrap {
  width: 100%;
  height: 200px;
  background-color: #1C356F;
  color: #f4f4f4;
}

#container > .row6-wrap .footer-wrap > .footer-section1 {
  width: 1200px;
  height: 80px;
  line-height: 80px;
  margin: 0 calc((100vw - 1200px) / 2);
}

#container > .row6-wrap .footer-wrap > .footer-section1 > ul {
  overflow: hidden;
  clear: both;
}

#container > .row6-wrap .footer-wrap > .footer-section1 > ul > li {
  float: left;
  position: relative;
  display: block;
  padding: 0 15px;
}

#container > .row6-wrap .footer-wrap > .footer-section1 > ul > li::after {
  content: '';
  width: 2px;
  height: 15px;
  background-color: #f4f4f4;
  position: absolute;
  top: 32px;
  right: -2px;
}

#container > .row6-wrap .footer-wrap > .footer-section1 > ul > li:nth-child(3)::after {
  display: none;
}

#container > .row6-wrap .footer-wrap > .footer-section2 {
  width: 1200px;
  float: left;
  height: 120px;
  margin: 0 calc((100vw - 1200px) / 2);
  clear: both;
}

#container > .row6-wrap .footer-wrap > .footer-section2 > .footer-txt {
  float: left;
}

#container > .row6-wrap .footer-wrap > .footer-section2 > .footer-logo {
  position: relative;
  float: right;
  font-size: 36px;
  font-family: '국립박물관문화재단클래식B', sans-serif;
  font-weight: bold;
  color: #fff;
  right: 30px;
}

#container > .row6-wrap .footer-wrap > .footer-section2 > .footer-logo > p > a > em {
  color: #ff7761;
}
/*# sourceMappingURL=style.css.map */