@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@-webkit-keyframes error {
  0% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  25% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  50% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  75% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
}
@keyframes error {
  0% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  25% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  50% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  75% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
}

@font-face {
  font-family: '국립박물관문화재단클래식B';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '국립박물관문화재단클래식M';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식M.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '국립박물관문화재단클래식L';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식L.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}

@keyframes error {
  0% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  25% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  50% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  75% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
}

@font-face {
  font-family: '국립박물관문화재단클래식B';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '국립박물관문화재단클래식M';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식M.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '국립박물관문화재단클래식L';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식L.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
select {
  border-radius: none;
  outline: none;
}

fieldset {
  border: none;
}

legend,
caption {
  position: absolute;
  left: -9999px;
}

table {
  border-collapse: collapse;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: none;
}

img,
video {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

address,
em,
i {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.skip-menu a {
  background-color: #f9c00c;
  color: #fff;
  position: fixed;
  left: 0;
  top: -9999px;
  width: 100%;
  text-align: center;
  z-index: 9999;
  padding: 8px;
}

.skip-menu a:focus {
  top: 0;
}

body {
  font: 16px/1.4 'NanumBarunGothic', Malgun Gothic, "맑은 고딕", "dotum", "돋움", "AppleGothic", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
}

#header {
  width: 100%;
  height: 200px;
  background-color: #1C356F;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

#header > .tnb-wrap {
  position: relative;
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  z-index: 1;
}

#header > .tnb-wrap > .tnb {
  position: relative;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding-top: 40px;
}

#header > .tnb-wrap > .tnb .logo {
  padding-left: 40px;
  width: auto;
  font-size: 36px;
  font-family: '국립박물관문화재단클래식B', sans-serif;
}

#header > .tnb-wrap > .tnb .logo h1 em {
  color: #ff7761;
}

#header > .tnb-wrap > .tnb .info {
  position: absolute;
  top: 55px;
  right: 120px;
  width: 455px;
  height: 40px;
}

#header > .tnb-wrap > .tnb .info > ul {
  clear: both;
  width: 100%;
  height: 100%;
}

#header > .tnb-wrap > .tnb .info > ul > li {
  position: relative;
  display: block;
  float: left;
  font-size: 18px;
  padding-right: 25px;
  width: auto;
  height: 100%;
}

#header > .tnb-wrap > .tnb .info > ul > li > a {
  font-family: '국립박물관문화재단클래식L', sans-serif;
}

#header > .tnb-wrap > .tnb .info > ul > li > a:hover, #header > .tnb-wrap > .tnb .info > ul > li > a:focus {
  color: #ff7761;
}

#header > .tnb-wrap > .tnb .info > ul > li:last-child {
  padding-right: 0;
}

#header > .tnb-wrap > .tnb .all-menu-btn {
  position: absolute;
  top: 40px;
  right: 40px;
}

#header > .tnb-wrap > .tnb .all-menu-btn > a {
  display: block;
  width: 50px;
  height: 50px;
}

#header > .tnb-wrap > .tnb .all-menu-btn > a > img {
  width: 100%;
  height: 100%;
}

#header .info-sub-wrap {
  position: relative;
}

#header .info-sub-wrap > div {
  position: absolute;
  background-color: #f4f4f4;
  color: #1C356F;
  text-align: center;
}

#header .info-sub-wrap > div > ul {
  border: 1px solid #ccc;
}

#header .info-sub-wrap > div > ul li {
  display: block;
  height: 45px;
  width: 100%;
  line-height: 45px;
  border-bottom: 1px solid #ccc;
}

#header .info-sub-wrap > div > ul li:hover, #header .info-sub-wrap > div > ul li:focus {
  background-color: #ff7761;
  color: #fff;
}

#header .info-sub-wrap > div > ul li:last-child {
  border: none;
}

#header .info-sub-wrap > .info-sub-sns {
  display: none;
  width: 110px;
  top: -15px;
  left: calc(50% + 98px);
  z-index: 2;
  font-size: 14px;
}

#header .info-sub-wrap > .info-sub-lang {
  display: none;
  width: 110px;
  top: -15px;
  left: calc(50% + 351px);
  z-index: 2;
  font-size: 14px;
}

#header > .all-menu-info {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1C356F;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 97;
}

#header > .all-menu-info:hover, #header > .all-menu-info:focus {
  top: 0;
}

#header > .all-menu-info:hover .all-menu-info-wrap::before, #header > .all-menu-info:hover .all-menu-info-wrap::after, #header > .all-menu-info:focus .all-menu-info-wrap::before, #header > .all-menu-info:focus .all-menu-info-wrap::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 98;
}

#header > .all-menu-info > .all-menu-info-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

#header > .all-menu-info > .all-menu-info-wrap::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  top: 50px;
  left: 50px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

#header > .all-menu-info > .all-menu-info-wrap::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  bottom: 50px;
  right: 50px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

#header > .all-menu-info > .all-menu-info-wrap > .all-menu-lnfo-logo {
  position: absolute;
  font-size: 36px;
  font-family: '국립박물관문화재단클래식B', sans-serif;
  top: 95px;
  left: 95px;
}

#header > .all-menu-info > .all-menu-info-wrap > .all-menu-lnfo-logo h1 em {
  color: #ff7761;
}

#header > .all-menu-info > .all-menu-info-wrap > .all-menu-btn-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 90px;
  right: 100px;
}

#header > .all-menu-info > .all-menu-info-wrap > .all-menu-btn-close > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 99;
}

#header > .all-menu-info > .all-menu-info-wrap > .all-menu-btn-close > a > img {
  width: 100%;
  height: 100%;
}

#header > .all-menu-info > .all-menu-info-wrap > ul {
  width: 1200px;
  height: 100%;
  position: relative;
  padding: 60px;
  text-align: center;
  overflow: hidden;
  clear: both;
  margin: 0 auto;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li {
  float: left;
  margin-top: 20vh;
  margin-right: 69px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li:last-child {
  margin-right: 0px;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li:hover, #header > .all-menu-info > .all-menu-info-wrap > ul > li:focus {
  color: #fff;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li > a {
  position: relative;
  z-index: 99;
  font-size: 28px;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li > ul {
  padding-top: 20px;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li > ul > li {
  padding-bottom: 10px;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li > ul > li a {
  position: relative;
  z-index: 99;
  font-size: 20px;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li > ul > li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #fff;
  bottom: 0px;
  left: 0;
  transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li > ul > li a:hover, #header > .all-menu-info > .all-menu-info-wrap > ul > li > ul > li a:focus {
  color: #ff7761;
}

#header > .all-menu-info > .all-menu-info-wrap > ul > li > ul > li a:hover::after, #header > .all-menu-info > .all-menu-info-wrap > ul > li > ul > li a:focus::after {
  width: 100%;
}

#header > .all-menu-mobile {
  display: none;
}

#header > .gnb-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background: linear-gradient(#1C356F 100px, #fff 0px);
  background: -webkit-linear-gradient(#1C356F 100px, #fff 0px);
  background: -moz-gradient(#1C356F 100px, #fff 0px);
  background: -o-gradient(#1C356F 100px, #fff 0px);
  -webkit-box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#header > .gnb-wrap > .gnb {
  width: 1200px;
  margin: 0 auto;
  padding-top: 35px;
}

#header > .gnb-wrap > .gnb > ul {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

#header > .gnb-wrap > .gnb > ul > li {
  float: left;
  width: 20%;
  font-size: 22px;
  text-align: center;
  overflow: hidden;
}

#header > .gnb-wrap > .gnb > ul > li > a {
  width: 100%;
  height: 100%;
  position: relative;
}

#header > .gnb-wrap > .gnb > ul > li > a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

#header > .gnb-wrap > .gnb > ul > li > a:hover, #header > .gnb-wrap > .gnb > ul > li > a:focus {
  color: #ff7761;
}

#header > .gnb-wrap > .gnb > ul > li > a:hover::after, #header > .gnb-wrap > .gnb > ul > li > a:focus::after {
  width: 100%;
}

#header > .gnb-wrap > .gnb > ul > li > ul {
  padding-top: 40px;
  width: 100%;
  height: 100%;
  color: #1C356F;
  text-align: center;
  font-size: 18px;
}

#header > .gnb-wrap > .gnb > ul > li > ul > li {
  width: 100%;
  padding: 5px 0;
}

#header > .gnb-wrap > .gnb > ul > li > ul > li > a {
  position: relative;
}

#header > .gnb-wrap > .gnb > ul > li > ul > li > a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ff7761;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

#header > .gnb-wrap > .gnb > ul > li > ul > li:hover > a::after, #header > .gnb-wrap > .gnb > ul > li > ul > li:focus > a::after {
  width: 100%;
}

#container {
  width: 100%;
  height: auto;
  margin-top: 200px;
}

#container .row1-wrap::after {
  content: '';
  display: block;
  clear: both;
}

#container .row1-wrap .row1 {
  width: 100%;
  margin: 0 auto;
}

#container .row1-wrap .row1 .row1-bg-img {
  width: 100%;
  height: 300px;
  position: relative;
}

#container .row1-wrap .row1 .row1-bg-img::before {
  position: fixed;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 500px;
  background: url(../img/sub4/main-img.png) no-repeat 50% 50%;
  content: '';
  z-index: -2;
}

#container .row1-wrap .row1 .row1-bg-img::after {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  z-index: -1;
}

#container .row1-wrap .row1 .row1-bg-img .row1-bg-txt {
  width: 1120px;
  margin: 0 auto;
  padding-top: 120px;
}

#container .row1-wrap .row1 .row1-bg-img .row1-bg-txt > h2 {
  font-size: 36px;
  color: #fff;
  padding-bottom: 10px;
}

#container .row1-wrap .row1 .row1-bg-img .row1-bg-txt > p {
  font-size: 26px;
  color: #fff;
}

#container .row1-wrap .row1 .row1-bg-img .row1-bg-txt > p em {
  color: #ff7761;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap {
  width: 100%;
  height: 65px;
  background-color: #1C356F;
  position: relative;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu {
  position: relative;
  width: 1200px;
  height: 65px;
  margin: 0 auto;
  color: #fff;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec1 {
  position: relative;
  float: left;
  width: 60px;
  height: 65px;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec1::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  right: 0;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec1 > li {
  display: block;
  width: 100%;
  height: 100%;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec1 > li > a {
  display: block;
  width: 100%;
  height: 100%;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec1 > li > a > img {
  position: absolute;
  top: 22px;
  left: 22px;
  width: 16px;
  height: 16px;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2 {
  float: left;
  position: relative;
  width: 250px;
  height: 65px;
  line-height: 65px;
  font-size: 18px;
  text-indent: 30px;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2.on > li:first-child > a::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2.on > li:first-child ~ li {
  display: block;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  right: 0;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2 > li:first-child {
  width: auto;
  height: 65px;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2 > li:first-child > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2 > li:first-child > a::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../img/sub1/icon_arrow.png) no-repeat 0 0;
  top: 22px;
  right: 20px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2 > li:first-child:hover > a::before, #container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2 > li:first-child:focus > a::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2 > li:first-child ~ li {
  position: relative;
  display: none;
  color: #1C356F;
  width: 250px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
  text-indent: 0;
  z-index: 1;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2 > li:first-child ~ li:last-child {
  border-bottom: 1px solid #ccc;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2 > li:first-child ~ li > a {
  position: relative;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2 > li:first-child ~ li > a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%;
  bottom: -2px;
  background-color: #ff7761;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2 > li:first-child ~ li > a:hover::after, #container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2 > li:first-child ~ li > a:focus::after {
  width: 100%;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3 {
  float: left;
  position: relative;
  width: 250px;
  height: 65px;
  line-height: 65px;
  font-size: 18px;
  text-indent: 30px;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3.on > li:first-child > a::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3.on > li:first-child ~ li {
  display: block;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  right: 0;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3 > li:first-child {
  width: auto;
  height: 65px;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3 > li:first-child > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3 > li:first-child > a::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../img/sub1/icon_arrow.png) no-repeat 0 0;
  top: 22px;
  right: 20px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3 > li:first-child:hover > a::before, #container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3 > li:first-child:focus > a::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3 > li:first-child ~ li {
  position: relative;
  display: none;
  color: #1C356F;
  width: 250px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
  text-indent: 0;
  z-index: 1;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3 > li:first-child ~ li:last-child {
  border-bottom: 1px solid #ccc;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3 > li:first-child ~ li > a {
  position: relative;
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3 > li:first-child ~ li > a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%;
  bottom: -2px;
  background-color: #ff7761;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

#container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3 > li:first-child ~ li > a:hover::after, #container .row1-wrap .row1 .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3 > li:first-child ~ li > a:focus::after {
  width: 100%;
}

#container .row2-wrap {
  width: 100%;
  background-color: #f6f6f6;
}

#container .row2-wrap .row2 {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

#container .row2-wrap .row2 .login-form {
  width: 500px;
  height: auto;
  border-radius: 15px;
  margin: 0 auto;
  padding-bottom: 200px;
  color: #222;
}

#container .row2-wrap .row2 .login-form h3 {
  font-size: 32px;
  padding-top: 200px;
  border-bottom: 1px solid #1C356F;
}

#container .row2-wrap .row2 .login-form form {
  padding-top: 40px;
}

#container .row2-wrap .row2 .login-form form .int-area {
  position: relative;
}

#container .row2-wrap .row2 .login-form form .int-area input {
  width: 100%;
  height: 60px;
  padding: 0 10px 10px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #e2e2e2;
  font-size: 16px;
  color: #222;
  outline: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#container .row2-wrap .row2 .login-form form .int-area input:focus, #container .row2-wrap .row2 .login-form form .int-area input:valid {
  border-bottom: 1px solid #1C356F;
}

#container .row2-wrap .row2 .login-form form .int-area input:focus + label,
#container .row2-wrap .row2 .login-form form .int-area input:valid + label {
  top: -10px;
  font-size: 16px;
  color: #1C356F;
}

#container .row2-wrap .row2 .login-form form .int-area input:focus + label ~ span::after,
#container .row2-wrap .row2 .login-form form .int-area input:valid + label ~ span::after {
  opacity: 1;
}

#container .row2-wrap .row2 .login-form form .int-area label {
  position: absolute;
  left: 10px;
  top: 13px;
  font-size: 18px;
  color: #999;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#container .row2-wrap .row2 .login-form form .int-area label.error {
  color: #f00 !important;
  -webkit-animation: error .3s ease;
          animation: error .3s ease;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

#container .row2-wrap .row2 .login-form form .int-area:nth-child(1) span::after {
  content: '';
  display: block;
  width: 16px;
  height: 18px;
  background: url(../img/sub4/icon_user.svg) no-repeat 50% 50%;
  opacity: 0.6;
}

#container .row2-wrap .row2 .login-form form .int-area:nth-child(2) span::after {
  content: '';
  display: block;
  width: 16px;
  height: 18px;
  background: url(../img/sub4/icon_data.svg) no-repeat 50% 50%;
  opacity: 0.6;
}

#container .row2-wrap .row2 .login-form form .int-area span {
  position: absolute;
  width: 16px;
  height: 18px;
  top: 13px;
  right: 20px;
}

#container .row2-wrap .row2 .login-form form .int-area:first-child {
  margin-bottom: 40px;
}

#container .row2-wrap .row2 .login-form form .btn-area {
  margin-top: 30px;
}

#container .row2-wrap .row2 .login-form form .btn-area > button {
  width: 100%;
  height: 50px;
  border: 1px solid #1C356F;
  background-color: transparent;
  color: #1C356F;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.21, 0.87) 0s;
  transition: all 0.5s cubic-bezier(0, 0, 0.21, 0.87) 0s;
}

#container .row2-wrap .row2 .login-form form .btn-area > button:hover {
  background-color: #1C356F;
  color: #fff;
}

#container .row2-wrap .row2 .login-form form .caption {
  text-align: center;
  margin-top: 30px;
}

#container .row2-wrap .row2 .login-form form .caption > a {
  position: relative;
  display: inline-block;
  margin-right: 25px;
  color: #444444;
}

#container .row2-wrap .row2 .login-form form .caption > a:last-child {
  margin: 0;
}

#container .row2-wrap .row2 .login-form form .caption > a:last-child::after {
  display: none;
}

#container .row2-wrap .row2 .login-form form .caption > a::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #999;
  top: 8px;
  right: -16px;
}

#footer {
  width: 100%;
  height: 200px;
  background-color: #1C356F;
  color: #f4f4f4;
}

#footer > .footer-section1 {
  width: 1200px;
  height: 80px;
  line-height: 80px;
  margin: 0 calc((100vw - 1200px) / 2);
}

#footer > .footer-section1 > ul {
  overflow: hidden;
  clear: both;
}

#footer > .footer-section1 > ul > li {
  float: left;
  position: relative;
  display: block;
  padding: 0 15px;
}

#footer > .footer-section1 > ul > li::after {
  content: '';
  width: 2px;
  height: 15px;
  background-color: #f4f4f4;
  position: absolute;
  top: 32px;
  right: -2px;
}

#footer > .footer-section1 > ul > li:nth-child(3)::after {
  display: none;
}

#footer > .footer-section2 {
  width: 1200px;
  height: 120px;
  margin: 0 calc((100vw - 1200px) / 2);
  clear: both;
  overflow: hidden;
}

#footer > .footer-section2 > .footer-txt {
  float: left;
  padding-left: 10px;
}

#footer > .footer-section2 > .footer-txt span {
  display: block;
}

#footer > .footer-section2 > .footer-logo {
  position: relative;
  float: right;
  font-size: 36px;
  font-family: '국립박물관문화재단클래식B', sans-serif;
  color: #fff;
  right: 30px;
}

#footer > .footer-section2 > .footer-logo > p > a > em {
  color: #ff7761;
}

@media (min-width: 768px) and (max-width: 1199px) {
  #header {
    top: 0;
  }
  #header > .tnb-wrap {
    width: 100%;
  }
  #header > .tnb-wrap > .tnb .logo {
    width: 314px;
    margin: 0 auto;
    padding-left: 0;
  }
  #header > .tnb-wrap > .tnb .info {
    top: 145px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 429px;
  }
  #header > .info-sub-wrap > .info-sub-sns {
    top: 80px;
    left: calc(50% - 145px);
  }
  #header > .info-sub-wrap > .info-sub-lang {
    top: 80px;
    left: calc(50% + 112px);
  }
  #header > .all-menu-info {
    display: none;
  }
  #header > .all-menu-mobile {
    display: block;
    position: fixed;
    top: 0;
    left: -100vw;
    width: 360px;
    height: 100vh;
    background-color: #f6f6f6;
    z-index: 9999;
    -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
    color: #444;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
  #header > .all-menu-mobile > .all-menu-mob-sub-wrap {
    margin: 30px;
    clear: both;
    height: 30px;
    line-height: 30px;
  }
  #header > .all-menu-mobile > .all-menu-mob-sub-wrap .lang-select {
    float: left;
    height: 30px;
    line-height: 30px;
    border: none;
    background-color: transparent;
    color: #444;
    margin-right: 15px;
    font-size: 16px;
  }
  #header > .all-menu-mobile > .all-menu-mob-sub-wrap .all-menu-mob-sub {
    float: left;
  }
  #header > .all-menu-mobile > .all-menu-mob-sub-wrap .all-menu-mob-sub > li {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    height: 30px;
    line-height: 33px;
  }
  #header > .all-menu-mobile > .all-menu-mob-sub-wrap .all-menu-mob-sub > li::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: #ff7761;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
  #header > .all-menu-mobile > .all-menu-mob-sub-wrap .all-menu-mob-sub > li:hover, #header > .all-menu-mobile > .all-menu-mob-sub-wrap .all-menu-mob-sub > li:focus {
    color: #1C356F;
  }
  #header > .all-menu-mobile > .all-menu-mob-sub-wrap .all-menu-mob-sub > li:hover::after, #header > .all-menu-mobile > .all-menu-mob-sub-wrap .all-menu-mob-sub > li:focus::after {
    width: 100%;
  }
  #header > .all-menu-mobile > .all-menu-mob-btn-close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li {
    height: 36px;
    line-height: 36px;
    margin: 30px 30px 0;
    padding-left: 30px;
    overflow: hidden;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li:hover > a, #header > .all-menu-mobile > .all-menu-mob-main > li:focus > a {
    color: #1C356F;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li:hover > a::after, #header > .all-menu-mobile > .all-menu-mob-main > li:focus > a::after {
    opacity: 1;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li.on {
    height: 100%;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li.on > a {
    color: #1C356F;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li.on > a::after {
    opacity: 1;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li.on > ul {
    opacity: 1;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li > a {
    display: block;
    position: relative;
    font-family: '국립박물관문화재단클래식M', serif;
    font-size: 26px;
    height: 36px;
    transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li > a::after {
    position: absolute;
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ff7761;
    top: 0;
    left: -6px;
    opacity: 0;
    transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li > ul {
    margin-left: 15px;
    margin-top: 5px;
    opacity: 0;
    transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li > ul > li > a {
    position: relative;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li > ul > li > a::after {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color: #ff7761;
    bottom: -2px;
    left: 0;
    transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li > ul > li:hover, #header > .all-menu-mobile > .all-menu-mob-main > li > ul > li:focus {
    color: #1C356F;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li > ul > li:hover > a::after, #header > .all-menu-mobile > .all-menu-mob-main > li > ul > li:focus > a::after {
    width: 100%;
  }
  #header > .gnb-wrap {
    display: none;
  }
  #container .row1-wrap .row1 > .row1-bg-img > .row1-bg-txt {
    width: calc(100vw - 60px);
  }
  #container .row1-wrap .row1 > .row1-smlMenu-wrap .row1-smlMenu {
    width: 100%;
  }
  #container .row2-wrap .row2 {
    width: 100%;
  }
  #footer > .footer-section1 {
    width: calc(100% - 60px);
    margin: 0 auto;
  }
  #footer > .footer-section2 {
    width: calc(100% - 60px);
    margin: 0 auto;
  }
  #footer > .footer-section2 > .footer-txt {
    float: none;
  }
  #footer > .footer-section2 > .footer-logo {
    display: none;
    float: none;
  }
}

@media (max-width: 767px) {
  #header {
    top: 0;
    height: 100px;
  }
  #header > .tnb-wrap {
    width: 100%;
  }
  #header > .tnb-wrap > .tnb {
    padding-top: 0;
  }
  #header > .tnb-wrap > .tnb .logo {
    width: auto;
    margin: 0 auto;
    padding-left: 0;
    font-size: 26px;
    text-align: left;
    height: 100px;
    line-height: 100px;
    text-indent: 30px;
  }
  #header > .tnb-wrap > .tnb .info {
    display: none;
  }
  #header > .tnb-wrap > .tnb .all-menu-btn {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 30px;
  }
  #header > .info-sub-wrap {
    display: none;
  }
  #header > .all-menu-info {
    display: none;
  }
  #header > .all-menu-mobile {
    display: block;
    position: fixed;
    top: 0;
    left: -100vw;
    width: 360px;
    height: 100vh;
    background-color: #f6f6f6;
    z-index: 9999;
    -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
    color: #444;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
  #header > .all-menu-mobile > .all-menu-mob-sub-wrap {
    margin: 30px;
    clear: both;
    height: 30px;
    line-height: 30px;
  }
  #header > .all-menu-mobile > .all-menu-mob-sub-wrap .lang-select {
    float: left;
    height: 30px;
    line-height: 30px;
    border: none;
    background-color: transparent;
    color: #444;
    margin-right: 15px;
    font-size: 16px;
  }
  #header > .all-menu-mobile > .all-menu-mob-sub-wrap .all-menu-mob-sub {
    float: left;
  }
  #header > .all-menu-mobile > .all-menu-mob-sub-wrap .all-menu-mob-sub > li {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    height: 30px;
    line-height: 33px;
  }
  #header > .all-menu-mobile > .all-menu-mob-sub-wrap .all-menu-mob-sub > li::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: #ff7761;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
  #header > .all-menu-mobile > .all-menu-mob-sub-wrap .all-menu-mob-sub > li:hover, #header > .all-menu-mobile > .all-menu-mob-sub-wrap .all-menu-mob-sub > li:focus {
    color: #1C356F;
  }
  #header > .all-menu-mobile > .all-menu-mob-sub-wrap .all-menu-mob-sub > li:hover::after, #header > .all-menu-mobile > .all-menu-mob-sub-wrap .all-menu-mob-sub > li:focus::after {
    width: 100%;
  }
  #header > .all-menu-mobile > .all-menu-mob-btn-close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li {
    height: 36px;
    line-height: 36px;
    margin: 30px 30px 0;
    padding-left: 30px;
    overflow: hidden;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li:hover > a, #header > .all-menu-mobile > .all-menu-mob-main > li:focus > a {
    color: #1C356F;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li:hover > a::after, #header > .all-menu-mobile > .all-menu-mob-main > li:focus > a::after {
    opacity: 1;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li.on {
    height: 100%;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li.on > a {
    color: #1C356F;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li.on > a::after {
    opacity: 1;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li.on > ul {
    opacity: 1;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li > a {
    display: block;
    position: relative;
    font-family: '국립박물관문화재단클래식M', serif;
    font-size: 26px;
    height: 36px;
    transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li > a::after {
    position: absolute;
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ff7761;
    top: 0;
    left: -6px;
    opacity: 0;
    transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li > ul {
    margin-left: 15px;
    margin-top: 5px;
    opacity: 0;
    transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li > ul > li > a {
    position: relative;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li > ul > li > a::after {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color: #ff7761;
    bottom: -2px;
    left: 0;
    transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li > ul > li:hover, #header > .all-menu-mobile > .all-menu-mob-main > li > ul > li:focus {
    color: #1C356F;
  }
  #header > .all-menu-mobile > .all-menu-mob-main > li > ul > li:hover > a::after, #header > .all-menu-mobile > .all-menu-mob-main > li > ul > li:focus > a::after {
    width: 100%;
  }
  #header > .gnb-wrap {
    display: none;
  }
  #container {
    margin-top: 100px;
  }
  #container .row1-wrap .row1 > .row1-bg-img > .row1-bg-txt {
    width: calc(100vw - 60px);
  }
  #container .row1-wrap .row1 > .row1-bg-img > .row1-bg-txt > p {
    font-size: 24px;
  }
  #container .row1-wrap .row1 > .row1-smlMenu-wrap .row1-smlMenu {
    width: 100%;
  }
  #container .row1-wrap .row1 > .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2 {
    width: 32.55208333333333vw;
    text-indent: 3.90625vw;
  }
  #container .row1-wrap .row1 > .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2 > li:first-child > a {
    font-size: 2.34375vw;
  }
  #container .row1-wrap .row1 > .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2 > li:first-child > a::before {
    right: 2.604166666666667vw;
  }
  #container .row1-wrap .row1 > .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec2 > li:first-child ~ li {
    width: 32.55208333333333vw;
  }
  #container .row1-wrap .row1 > .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3 {
    width: 32.55208333333333vw;
    text-indent: 3.90625vw;
  }
  #container .row1-wrap .row1 > .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3 > li:first-child > a::before {
    right: 2.604166666666667vw;
  }
  #container .row1-wrap .row1 > .row1-smlMenu-wrap .row1-smlMenu .row1-smlMenu-sec3 > li:first-child ~ li {
    width: 32.55208333333333vw;
  }
  #container .row2-wrap .row2 {
    width: 100%;
  }
  #container .row2-wrap .row2 .login-form {
    width: 78.125vw;
  }
  #footer {
    height: 100px;
    position: relative;
  }
  #footer::before {
    position: absolute;
    top: 0;
    left: 0;
    content: 'Copyright(c) Cheonan-Si. All rights reserved.';
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  #footer > .footer-section1 {
    display: none;
    width: calc(100% - 60px);
    margin: 0 auto;
  }
  #footer > .footer-section2 {
    display: none;
  }
  #footer > .footer-section2 > .footer-txt {
    float: none;
  }
  #footer > .footer-section2 > .footer-logo {
    display: none;
    float: none;
  }
}
/*# sourceMappingURL=sub4.css.map */