@charset 'utf-8';
$mainColor-1: #274555;
$mainColor-2: #ff7761;
$mainColor-3: #f4f4f4;
$mainColor-4: #fdc23e;
$mainColor-5: #f9a11b;

@mixin els {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin lineClamp($h, $num) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
    height: $h;
    overflow: hidden;
}
