@charset 'utf-8';
$mainColor-1: #2e2a2a;
$mainColor-2: #e23b25;
$mainColor-3: #f4f4f4;

@mixin els {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin lineClamp($h, $num) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
    height: $h;
    overflow: hidden;
}
