@charset 'utf-8';

body {
    font: 16px/1.4 'NanumBarunGothic', Malgun Gothic, "맑은 고딕", "dotum", "돋움", "AppleGothic", sans-serif;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

input,
textarea,
select {
    border-radius: none;
}

fieldset {
    border: none;
}

legend,
caption {
    position: absolute;
    left: -9999px;
}

table {
    border-collapse: collapse;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
    border: none;
}

img,
video {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
em,
i {
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

.skip-menu a {
    background-color: $mainColor-2;
    color: #fff;
    position: fixed;
    left: 0;
    top: -9999px;
    width: 100%;
    text-align: center;
    z-index: 9999;
    padding: 8px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.7);
}

.skip-menu a:focus {
    top: 0;
}
